= form_for @story do |f|
  - if @story.errors.any?
    #error_explanation 
      %h3= "#{pluralize(@story.errors.count, "error")} prohibited this story from being saved:"
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    = f.text_area :content
    %h2.ending The End.
  .actions
    = f.submit 'share', class: 'button'
    %p.disclaimer
      * We promise to never sell your story. Your story will always be yours.
      
:javascript
  $(function() {
    $('#story_content').miniCount({
      max: 100,
      unit: 'word',
      countdown: true,
      text: 'words remaining...',
      textPosition: 'after',
      invalidText: 'words remaining.',
      counterPosition: 'before'
    });
  });
