= form_for @story do |f|
  - if @story.errors.any?
    #error_explanation
      %h2= "#{pluralize(@story.errors.count, "error")} prohibited this story from being saved:"
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg

  .field
    %h2 Hello, my name is <span class="highlight">___________</span> and this is my story...
    = f.text_area :content
    %h2.ending The End.
  .actions
    = f.submit 'share', class: 'button'
    %p.disclaimer
      * We promise to never sell your story. Your story will always be yours.