!!!
%html
  %head
    %title Hundred
    = stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans:300,600,400', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
    = csrf_meta_tags
  %body
    .container
      %header.section.line
        .logo
          %h1= link_to "hundred", root_path
        .user_actions
          - if user_signed_in?
            = link_to current_user.name, user_show_path
            = link_to "Sign Out", signout_path, class: "button"
          - else
            = link_to "Sign In with Facebook", signin_path
        .clearfix
      #content.section.line
        .flash
          - flash.each do |name, msg|
            = content_tag :div, msg, class: name
        .inner_content
          = yield
          &nbsp;
        .clearfix
      %footer.section
        %p 
          created by 
          = link_to "@mitchwd", "http://www.twitter.com/mitchwd"